# Ignore virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS metadata
.DS_Store

# VSCode or other IDE settings
.vscode/
.idea/

# Git files
.git
.gitignore

# Test files and artifacts
test_*.py
*.log
*.csv
*.tsv
*.xlsx
.github/
flagged/

# Docker-specific
Dockerfile.*
.dockerignore
LICENSE
README.md
train.py
requirements-lock.txt
